/* [project]/vibecoding_project/valentines-proposal-app/src/styles/globals.css [app-client] (css) */
/* unparsable [project]/vibecoding_project/valentines-proposal-app/src/styles/globals.css [app-client] (css) */